@use "./base/base";
@use "./base/reset";
@use "./global" as *;

.header{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
}


.header__inner{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-left: 22px;
}

.header__name{
  margin-right: auto;
  img{
    width: 171px;
    height: 30px;
    flex-shrink: 0;
    @include mq(lg) {
      width: 132px;
    }
  }
}

.header--nav{
  height: inherit;
}
.header--items{
  display: flex;
  align-items: center;
  height: inherit;
}
.header__item{
  height: inherit;
}
.header__item:not(:first-child){
  margin-left: 70px;
}
.header__link{
  font-size: 16px;
  font-weight: $medium;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: $black;
}
.header__link--contact{
  padding: 0 24px;
  color: $white;
  background-color: $red;
  transition: 0.3s background-color;
  &:hover{
    opacity: 1;
    background-color: $red2;
  }
}

// 共通パーツ

.inner{
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  @include mq(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title__main{
  font-size: 36px;
  font-weight: $medium;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.section-title__sub{
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $red;
  margin-top: 3px;
  @include mq(md) {
    font-size: 10px;
  }
}

.section-title.section-title--center{
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}

.text{
  font-size: 15px;
  font-weight: $medium;
  line-height: 1.867;
  letter-spacing: 0.05em;
  @include mq(md) {
    font-size: 14px;
    line-height: 2.143;
  }
}

.text.text-large{
  font-size: 24;
  line-height: 1.75;
  @include mq(md) {
    font-size: 20px;
    line-height: 1.9;
  }
}

.text.text--reverse{
  color: $white;
}

.button{
  font-size: 20px;
  width: 235px;
  display: inline-block;
  padding: 15px 15px;
  color: $white;
  background-color: $red;
  transition: 0.3s background-color,0.3s box-shadow;
  letter-spacing: 0.05em;
  box-shadow: 2px 2px 4px rgba($color: $gray2, $alpha: 0.5);
  &:hover{
    opacity: 0.7;
    background-color: $red2;
    box-shadow: none;
  }
}

.md-none{
  @include mq(md) {
    display: none;
  }
}
.md-show{
  display: none;
  @include mq(md) {
    display: block;
  }
}